$primary:#ecf0f1;
$secondary:#2ecc71;


#name{
  color: $primary;
  font-size: 40px;
}
body{
  background-color: $primary;
  margin: 35px;
  display: flex;
  justify-content: center;
  font-family: Calibri;
}

#aplicacion{
  width: 40%;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
#buttons{
  display: flex;
  flex-direction: row;
}
.grade{
  display: flex;
  flex-direction: row;
}
#grades{
  color: $primary;
  font-size: 30px
}
#output{
  display: flex;
  flex-direction: row;
}
#titles{
  color: $primary;
  display: flex;
  flex-direction: column;
}
#results{
  color: red;
  display: flex;
  flex-direction: column;

}
.input{
  border-radius: 5px;
  border: none;
  height: 27px;
  margin: 10px;
  width: 30%;
  background-color: $primary;
}